---
layout: default
---

<h1>Category: {{ page.category }}</h1>

<ul class="product-list">
    {% for item in paginator.posts %}
    <a class="product-card">
        <h1 class="title">{{item.title}}</h1>
        <picture>
            <source srcset="/static/{{item.img.src}}.webp" type="image/webp" />
            <img src="/static/{{item.img.src}}.jpg" alt="{{item.img.alt}}" />
        </picture>
        <p class="description">{{ item.content }}</p>
    </a>

    {% endfor %}
</ul>

<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">Previous</a>
    {% endif %} Page {{ paginator.page }} of {{ paginator.total_pages }} {% if
    paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Next</a>
    {% endif %}
</div>
