<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>
            {% if page.title %} {{ page.title }} – {{ site.title }} {% else %}
            {{ site.title }} {% endif %}
        </title>

        <meta
            name="description"
            content="{{ page.description | default: site.description }}" />
        <meta name="author" content="{{ site.author.name }}" />
        <link
            rel="canonical"
            href="{{ page.url | replace: '/index.html', '' | absolute_url }}" />
        <meta
            name="copyright"
            content="© {{ site.time | date: '%Y' }} {{ site.title }}" />
        <meta name="robots" content="index, follow" />

        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="{{ site.title }}" />
        <meta
            property="og:title"
            content="{% if page.title %}{{ page.title }} – {{ site.title }}{% else %}{{ site.title }}{% endif %}" />
        <meta
            property="og:description"
            content="{{ page.description | default: site.description }}" />

        <meta
            property="og:url"
            content="{{ page.url | replace: '/index.html', '' | absolute_url }}" />
        <meta
            property="og:image"
            content="{{ page.image | default: site.ogimage | absolute_url }}" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta
            name="twitter:title"
            content="{% if page.title %}{{ page.title }} – {{ site.title }}{% else %}{{ site.title }}{% endif %}" />
        <meta
            name="twitter:description"
            content="{{ page.description | default: site.description }}" />
        <meta
            name="twitter:image"
            content="{{ page.image | default: site.ogimage | absolute_url }}" />
        <meta
            name="twitter:creator"
            content="{{ site.author.twitter | default: '@NONE' }}" />

        <link
            rel="icon"
            href="{{ '/images/favicon.webp' | relative_url }}"
            type="image/x-icon" />
        <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}" />
        </noscript>
        <style>
            #loadOverlay {
                background-color: #edebe2;
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                z-index: 2000;
            }
        </style>
    </head>

    <body>
        <div id="loadOverlay"></div>
        <nav class="navbar">
            <a href="/" class="brand">
                <img src="https://placehold.co/40x40" alt="" />
                <span>Kokopelli</span>
            </a>
            <!-- Always visible items in the nav bar -->
            <div class="hamburger" id="hamburger">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <ul class="nav-menu" id="nav-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>
        <main class="content">
            {{ content }}
            <footer>&copy; 2025</footer>
        </main>
        <script src="/js/main.js"></script>
    </body>
</html>
