.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* pushes hamburger right */
    // width: 40%;
    margin: auto;
    border-bottom: 1px solid var(--bg-muted);
    gap: 10px;
    position: relative;


    .brand {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;

        img.brand-image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        span {
            font-weight: bold;
            font-size: x-large;
        }
    }
}

.nav-menu {
    list-style: none;
    background-color: #333;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 15px;
    transform: translateX(50%);
    opacity: 0;
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: var(--shadow);
    z-index: 1000;

    li {
        border-top: 1px solid #444;

        a {
            color: white;
            text-decoration: none;
            display: block;
            padding: 12px 20px;
            text-align: center;
        }
    }

    &.active {
        display: flex;
        animation: transparency 0.3s ease-out;
        opacity: 1;
    }
}
