.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* pushes hamburger right */
    width: 40%;
    margin: auto;
    height: 60px;
    border-bottom: 1px solid var(--bg-muted);
    gap: 10px;
    position: relative;
    /* ⬅️ important */

    .brand {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        span {
            font-weight: bold;
            font-size: x-large;
        }
    }
}

.hamburger {
    width: 30px;
    cursor: pointer;
    display: block;

    .bar {
        height: 3px;
        width: 100%;
        background-color: var(--brand);
        margin: 5px 0;
        transition: 0.3s;
    }

    &.active {
        .bar {
            &:nth-child(1) {
                transform: rotate(45deg) translate(6px, 6px);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-45deg) translate(6px, -6px);
            }
        }
    }
}

.nav-menu {
    list-style: none;
    background-color: #333;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 15px;
    transform: translateX(50%);
    opacity: 0;
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: var(--shadow);
    z-index: 1000;

    li {
        border-top: 1px solid #444;

        a {
            color: white;
            text-decoration: none;
            display: block;
            padding: 12px 20px;
            text-align: center;
        }
    }

    &.active {
        display: flex;
        animation: transparency 0.3s ease-out;
        opacity: 1;
    }
}
