.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--bg-muted);
    border-radius: 10px;
    padding: 1rem;
    width: 70%;
    margin: auto;
    background-color: var(--card);
    box-shadow: var(--shadow);
    overflow: hidden;

    img {
        object-fit: cover;
        object-position: center;
        display: block;
        aspect-ratio: 1.6;
        width: 100%;
        height: 100%;
    }
}
